[Desktop Entry]
Categories=Utility;Application;
Comment[en_US]=Autorecord League of Legends In Game with OBS
Comment=Autorecord League of Legends In Game with OBS
Encoding=UTF-8
Exec=alacritty -e "$HOME/scripts/record-league-games.sh"
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=Record League Games
Name=Record League Games
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
