@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: transparent;
}

window#waybar.fullscreen #window {
    background-color: @color5;
    color: @background;
    border-color: @background;
}

#clock,
#cpu,
#gamemode,
#network,
#pulseaudio,
#window,
#workspaces,
#custom-logout,
#tray {
    border-radius: 9999px;
    padding: 0 13px;
    background-color: @background;
    color: @color7;
    border: 2px solid @color7;
    opacity: .9;
}

#custom-logout {
  min-width: 13px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#workspaces {
    padding: 2px;
}

#workspaces button {
    color: @color7;
}

#workspaces button.active {
    background-color: @color7;
    color: @background;
    border-radius: 9999px;
}

#clock {
    /* jank needed to center the text */
    padding-top: 3px;
}
