@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: transparent;
}

@define-color bg @color0;
@define-color txt @color6;

#clock,
#cpu,
#gamemode,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#window,
#workspaces,
#tray {
    border-radius: 9999px;
    padding: 0 13px;
    background-color: @bg;
    color: @txt;
    border: 2px solid @txt;
    opacity: .9;
}

#workspaces button {
    color: @txt;
}

#workspaces button.active {
    background-color: @txt;
    color: @bg;
    border-radius: 9999px;
}

#clock {
    /* jank needed to center the text */
    padding-top: 3px;
}
