[Desktop Entry]
Exec=/home/clail/.config/autostart/latest_kernel_noti.sh
Icon=application-x-desktop
Name=latest_kernel_noti.sh
Type=Application
X-KDE-AutostartScript=true
